# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class


# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/


# =========================
# Environment variables
# =========================

.env


# =========================
# SQLite Database
# =========================

*.db
*.sqlite3


# =========================
# VS Code
# =========================

.vscode/


# =========================
# PyCharm
# =========================

.idea/


# =========================
# Logs
# =========================

*.log


# =========================
# Testing
# =========================

.pytest_cache/
.coverage


# =========================
# OS files
# =========================

.DS_Store
Thumbs.db