# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# SQLite
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage

# =========================
# React / Node
# =========================
node_modules/
dist/
build/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db